*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::selection{
    background: cyan;
}
.main
{
    height: 100vh;
    width: 100vw;
    background: #dfe6e9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.musicplayer{
    position: relative;
    height: 500px;
    width: 300px;
    padding: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;            
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.musicplayer h2{
   padding-bottom: 40px;
}
.musicplayer .musicimg{
    height: 200px;
    width: 200px;
    box-shadow:3px 3px 5px 6px rgba(0, 0, 0,0.1);
    border-radius: 50%;
}


.progressbar_container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.progress_duration_meter{
    width: 100%; 
    height: 70px;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.progress_div{
    position: relative;
    width: 100%;
    height: 8px;
    border-radius: 6px;
    /* background: black; */
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* background: black; */
    /* z-index: 2; */
    -webkit-appearance: none;
    appearance: none;
}
.progress{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: black;
    border-radius: 6px;
    /* z-index: 1; */
    /* transition: width 1s linear; */
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
/* .nav .fas{
    cursor: pointer;
    filter: drop-shadow(3px 3px 5px 6px rgba(0, 0, 0,0.1));
} */
.nav img{
    cursor: pointer;
    width: 40px;
    height: 40px;
    /* filter: drop-shadow(3px 3px 5px 6px rgba(0, 0, 0,0.1)); */
}
.nav #play{
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.nav img:active{
    /* font-size:20px; */
    height: 35px;
    width: 35px;
}
.nav #play:hover{
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* animation */

.imgrotate{
    animation: rotatePlayer 3s linear infinite;
}

@keyframes rotatePlayer{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
